{% extends 'sample/base.html' %}
{% block title %}{{sample.0.set_name}}{% endblock %}

{% block body %}

    <!-- <div class="col-md-9 main"> -->
    <div class="container-fluid">
        <h1 class="page-header">{{sample.0}}</h1>
        <div class="container">
            <ul class="list-group">
              {% for key, value in sample_dict.items %}
                <li class="list-group-item">{{ key }} : {{ value }}</li>
              {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}